<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cacini.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28C35B091CF5E90A0027406C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28C35B1D1CF5E90B0027406C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28C35B281CF5E90B0027406C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
